{% comment %}
-----------------------------------------------------------------------------
  Snippet: Forgot password form
-----------------------------------------------------------------------------
{% endcomment %}
{%- liquid
  assign forgot_password_cta_string = 'customers.login.forgot_password.cta' | t
  assign cancel_string = 'customers.login.forgot_password.cancel' | t
-%}

<h1 class="customers__title text-heading-2xl">
  {{ 'customers.login.forgot_password.title' | t }}
</h1>

<p class="customers__text">
  {{ 'customers.login.forgot_password.text' | t }}
</p>

{% form 'recover_customer_password' %}
  <div class="form-group">
    {%- liquid
      assign form_errors = ''

      for error in form.errors
        capture form_errors
          echo form_errors
          echo '<p class="customers__error body-2">'
            render 'icon-misc' with icon: 'error'
            echo '<span>'
              unless error == 'form'
                echo form.errors.translated_fields[error] | capitalize | append: ' '
              endunless
                echo form.errors.messages[error] | append: ' '
            echo '</span>'
          echo '</p>'
        endcapture
      endfor
    -%}

    {% if form_errors != '' %}
      <div
        id="forgot-password-errors"
        class="customers__error-container"
      >
        {{ form_errors }}
      </div>
    {% endif %}

    {% if form.posted_successfully? %}
      <input
        type="hidden"
        value="true"
        js-forgot-password="successCheck"
      >
    {% endif %}

    <div class="form-group__field">
      <label
        class="form-group__label text-body-label"
        for="email"
      >
        {{ 'customers.fields.email.label' | t }}

        <abbr
          title="{{ 'customers.fields.required.label' | t }}"
          aria-label="{{ 'customers.fields.required.label' | t }}"
        >
          {{ 'customers.fields.required.symbol' | t }}
        </abbr>
      </label>

      <input
        id="email"
        {% if form.errors %}
          class="input-error"
        {% endif %}
        autocomplete="email"
        name="email"
        placeholder="{{ 'customers.fields.email.placeholder' | t }}"
        required
        spellcheck="false"
        type="email"
        {% if form.errors %}
          aria-describedby="forgot-password-errors"
          aria-invalid="true"
        {% endif %}
      >
    </div>

    <div class="form-group__footer">
      {% render 'btn' with
        block_class: 'customers',
        label: forgot_password_cta_string,
        type: submit,
      %}

      {% render 'btn'
        attributes: 'js-forgot-password="toggle"',
        block_class: 'customers',
        label: cancel_string,
        modifiers: 'text',
        show_icon: false,
        type: 'button',
      %}
    </div>
  </div>
{% endform %}
