{% comment %}
-----------------------------------------------------------------------------
  Section: Main search
-----------------------------------------------------------------------------
{% endcomment %}
{%- capture section_schema -%}
  {% if request.design_mode %}
    {
      "blocks": [{% for block in section.blocks %} { "type": {{ block.type | json }}, "settings": {{ block.settings | json }} }{% unless forloop.last %},{% endunless %}{% endfor %}],
      "section": { "id": {{ section.id | json }}, "type": "main-search", "settings": {{ section.settings | json }} }
    }
  {% endif %}
{%- endcapture -%}

<section
  class="container"
  aria-labelledby="section-title-{{ section.id }}"
  data-section-schema="{% if request.design_mode %}{'blocks': [{% for block in section.blocks %}{ 'type': {{ block.type | json | escape }}, 'settings': {{ block.settings | json | escape }} }{% unless forloop.last %},{% endunless %}{% endfor %}],'section': { 'id': {{ section.id | json | escape }}, 'type': 'main-search', 'settings': {{ section.settings | json | escape }} }}{% endif %}"
>
  <h1
    id="section-title-{{ section.id }}"
    class="text-heading-2xl"
  >
    {{ 'search.title' | t }}
  </h1>
</section>

{% schema %}
{
  "name": "Search",
  "class": "component-section",
  "settings": []
}
{% endschema %}
